
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;  
    background-size: cover;
  }

  body {
    padding-top: 0px;
    background-color: black;
  }

  .container {
    position: absolute;
    padding-top: 50px;
  }

  nav.navbar-transparente {
    padding: 0px;
    background: white;
    border: none;
} 

.nav-link {
    color: white;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  }

  .login {
    background: black;
  }

  
  


